.idea/
.gradle/

target/
out/
build/
application-custom.yml
*application-integration.yml
*private.resources
*private.properties
local.properties
*.iml
*.log

# Helm - sensitive data
/api/src/test/resources/local.properties
